* {
    padding: 1;
    margin: 1;
}

:root {
    --secondary: rbg(255, 247, 204);
    --primary: rgb(255, 165, 0);
    background-color: var(--primary);
    color: ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    display: flex; 
    flex-direction: row;
    padding: 10px;
    flex-wrap: nowrap;
    background-color: var(--primary);
}

.subcontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rbg(255, 247, 204);
    width: 100%;
    margin: 5px 5px 5px 5px;
    justify-content: center;
    text-align: left;
}

.imageContainer{
    margin: 5px 5px 5px 5px;
    justify-content: center;
    width: 100%;
}

p {
  text-color: black;
  padding: 10px 0 10px 0;
}


